@{
    ViewData["Title"] = "About Me";
}

<h1>Om mig</h1>

<p>Mit navn er Klaus Therkildsen, og jeg er en passioneret softwareudviklingstuderende (datamatiker) med erfaring inden for webudvikling og softwaredesign. Jeg har arbejdet med forskellige teknologier og sprog, herunder C#, JavaScript, og ASP.NET Core, Python.</p>

<h2>Baggrund</h2>
<p>Jeg har en god uddannelsesbaggrund i en bank. Jeg har arbejdet som bankrådgiver i 16 år, og har arbejdet med rådgivning i forskellige områder såsom investering, køb/salg af bolig, aktier og obligationshandler, samt vurdering af private boliger og erhvervsboliger for Kreditforeninger.</p>

<h2>Interesser</h2>
<p>Ud over softwareudvikling, interesserer jeg mig for kunstig intelligens, maskinlæring, og open source projekter. Jeg elsker også at læse alt mulig bøger om fagbøger, teknologi og innovation. Samt Biografier</p>

<h2>Fritid</h2>
<p>I min fritid nyder jeg at vandre, cykle, og bruge tid med min familie. Jeg er også en stor fan af brætspil og elsker at udforske nye spil sammen med venner.</p>
