@{
    ViewData["Title"] = "CV";
}

<h1>Mit CV</h1>

<section>
    <h2>Personlige oplysninger</h2>
    <p><strong>Navn: </strong>Klaus Therkildsen</p>
    <p><strong>Adresse: </strong>Smedegade 3, 2.th</p>
    <p><strong>Postnummer: </strong>4200 Slagelse</p>
    <p><strong>Email: </strong> ktnation15@gmail.com</p>
</section>

<section>
    <h2>Erhvervserfaring</h2>
    <ul>
        <li>
            <strong>Bankrådgiver</strong> - GrønlandsBanken(2006 - 2023)
            <p>Rådgivning af køb/salg bolig, pension, investering</p>
        </li>
        <li>
            <strong>Klub medarbejder</strong> - Klub kaassassuk Qaqortoq (2004 - 2006)
            <p>Imens jeg studerede i HHX Qaqortoq</p>
        </li>
        <li>
            <strong>Musiker</strong> - Qaqortoq (2003 - 2006)
            <p>Jeg spillede guitar i en band i fritiden.</p>
        </li>
        <li>
            <strong>Kontor elev</strong> - INI A/S Paamiut (1999 - 2002)
            <p>Almennyttige boligselskab, udlejning af lejeboliger.</p>
        </li>
        <li>
            <strong>Reserve betjent</strong> - TechCorp (2000 - 2002)
            <p>Politiet i Grønland.</p>
        </li>
    </ul>
</section>

<section>
    <h2>Uddannelse</h2>
    <ul>
        <li>
            <strong>Studere Datamatiker uddannelse</strong> - Zealand Erhvervsakademi Roskilde (2023 - 2025)
        </li>
        <li>
            <strong>Finansrådgiver uddannelse</strong> - Handelskolen Nuuk (2006 - 2008)
        </li>
        <li>
            <strong>HD 1 del - Finansiel rådgivning</strong> - Erhvervsakademi Roskilde (2010 - 2013)
        </li>
        <li>
            <strong>Tillidsmands uddannelsen</strong> - Finansforbundet (2014 - 2015)
        </li>
        <li>
            <strong>Ledelse i Praksis</strong> - Erhvervsakademi Sydsjælland (2014 - 2015)
        </li>
        <li>
            <strong>Projekt ledelse</strong> - Erhvervsakademi Sydsjælland (2017 - 2018)
        </li>
        <li>
            <strong>HHX</strong> - Handelskolen Qaqortoq (2003 - 2006)
        </li>
        <li>
            <strong>Træneruddannelse i Fodbold og Håndbold</strong> - Sportshøjskolen Aalborg (2002 - 2003)
        </li>
        <li>
            <strong>Kontoruddannelse</strong> - Handelskolen Qaqortoq (1999 - 2002)
        </li>
    </ul>
</section>
