@{
    ViewData["Title"] = "Kontakt mig på nederste oplysninger";
}
<h1>@ViewData["Title"]</h1>

<p>Her er mine kontaktoplysninger:</p>
<p>Klaus Therkildsen</p>
<p>Smedegade 3, 2.th.</p>
<p>4200 Slagelse</p>
<p>Telefon (+45) 50319517.</p>
<p>Email: ktnation15@gmail.com <a href="mailto:ktnation15@gmail.com">
